# .NET Core and .NET Framework files
bin/
obj/
*.exe
*.dll
*.pdb
*.cache
*.log
*.user
*.lock.json
*.vs/
.vscode/
**/Thumbs.db
**/*.DS_Store

# Rider IDE
.idea/
*.iml

# Visual Studio Code
.history/
.env
.env.*

# NuGet Packages
packages/
*.nupkg
*.snupkg

# Build artifacts
*.suo
*.plist

# MacOS
.DS_Store
